body {
  background-color: #DBF4A7;
}


.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Marker Felt, fantasy;
  margin: 0px;
  margin-bottom: 50px;
  width: 97vw;
}

button {
  width: fit-content;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(186, 186, 186);
  margin: 10px;

}

button:active {
  background-color: gray;
  border-color: gray;
}

#sortButton {
  height: 57px;
  margin-left: 10px;
}

#resetButton {
  height: 57px;
  margin-left: 10px;
}

#title {
  position: relative;
  left: 50px;
  top: 17px
}

#filterLabel {
  margin-right: 15px;
  position: relative;
  bottom: 6px;

}

#filter {
  display: flex;
  position: relative;
  left: 90px;
  top: 17px;
  bottom: 17px;
  margin-bottom: 20px;
}

.filterCategory {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

#shoeCards {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 25px;
}

.Shoe {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: 20px;
  padding: 10px;
  background-color: #8FA6CB;
  border-radius: 10px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
}

.cartButtons {
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 10px;
}

#cart {
  position: fixed;
  background-color: #439775;
  left: 65%;
  top: 187px;
  width: 30%;
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  padding: 20px;
}